section.about 
    .container
        +blockBox("What we do", "Story About us", "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores esse saepe culpa reprehenderit nostrum accusantium laboriosam quisquam ducimus velit, minima eaque delectus aliquam voluptas similique sequi! Qui nam quisquam placeat.")
        .about-list 
            +aboutItem("../images/img-about1.png", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas accusamus fugit recusandae placeat corporis eaque quae rem necessitatibus a, beatae repudiandae inventore corrupti, nesciunt exercitationem autem, suscipit dolores distinctio officia.", "fa fa-users")
            +aboutItem("../images/img-about2.png", "Super Team", "fa fa-users")
            +aboutItem("../images/img-about3.png", "Super Team", "fa fa-users")
            
            //- .about-item
            //-     img.about-image(src="../images/img-about2.png")
            //-     .about-content 
            //-         i.fa.fa-users.about-icon 
            //-         span.about-title Super Team
            //- .about-item
            //-     img.about-image(src="../images/img-about2.png")
            //-     .about-content 
            //-         i.fa.fa-users.about-icon 
            //-         span.about-title Super Team
            //- .about-item
            //-     img.about-image(src="../images/img-about3.png")
            //-     .about-content 
            //-         i.fa.fa-users.about-icon 
            //-         span.about-title Super Team