footer.footer
    .container 
        .footer-top 
            .footer-column
                a(href="index.html").footer-heading.footer-heading--logo MoGo
                p.footer-desc.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam vitae in odio animi consequatur illo mollitia consectetur minus, maxime quidem nesciunt assumenda quo, nostrum aperiam. Temporibus vitae aut nesciunt dolore?
                p.footer-follower <strong>15K</strong> follower
                .footer-social 
                    span.text Follow US: 
                    .footer-social-list
                        a.footer-social-icon(href="#")
                            i.fab.fa-facebook.footer-social-icon
                        a.footer-social-icon(href="#")
                            i.fab.fa-twitter.footer-social-icon
                        a.footer-social-icon(href="#")
                            i.fab.fa-instagram.footer-social-icon
                        a.footer-social-icon(href="#")
                            i.fab.fa-pinterest.footer-social-icon
                        a.footer-social-icon(href="#")
                            i.fab.fa-youtube.footer-social-icon
                form.footer-form(action="#")
                    input(type="email" placeholder="Your Email").footer-form-input
                    button.footer-form-button Subscribe
            .footer-column
                h3.footer-heading Blogs
                a(href="#").footer-blog
                    img.footer-blog-image(src="../images/img-blog1.png")
                    .footer-blog-info
                        h4.footer-blog-title Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab eos harum eius in dolore vitae 
                        span.footer-blog-date.text.text--light Jan 9 2016
                a(href="#").footer-blog
                    img.footer-blog-image(src="../images/img-blog2.png")
                    .footer-blog-info
                        h4.footer-blog-title Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab eos harum eius in dolore vitae 
                        span.footer-blog-date.text.text--light Jan 9 2016
                a(href="#").footer-blog
                    img.footer-blog-image(src="../images/img-blog3.png")
                    .footer-blog-info
                        h4.footer-blog-title Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab eos harum eius in dolore vitae 
                        span.footer-blog-date.text.text--light Jan 9 2016
            .footer-column
                h3.footer-heading Instagram
                .footer-images
                    .footer-image
                        img(src="../images/img-instagram1.png")
                    .footer-image
                        img(src="../images/img-instagram1.png")
                    .footer-image
                        img(src="../images/img-instagram1.png")
                    .footer-image
                        img(src="../images/img-instagram1.png")
                    .footer-image
                        img(src="../images/img-instagram1.png")
                    .footer-image
                        img(src="../images/img-instagram1.png")
                    .footer-image
                        img(src="../images/img-instagram1.png")
                    .footer-image
                        img(src="../images/img-instagram1.png")
                    .footer-image
                        img(src="../images/img-instagram1.png")
                a(href="#").footer-images-more.text.text--light view more photo                    
                        
        .footer-bottom &coppy; 2021 MoGo free PSD teamplate by <span>Lqaaa</span>