section.people 
    .container 
        +blockBox("Happy Clients", "What people say")
        ul.people-list
            +peopleItem("../images/img-people1.png","Matthew Dix","Graphic design ")
            +peopleItem("../images/img-people1.png","Matthew Dix","Graphic design ")
            +peopleItem("../images/img-people1.png","Matthew Dix","Graphic design ")
            +peopleItem("../images/img-people1.png","Matthew Dix","Graphic design ")
            //- li.people-item
            //-     img.people-avatar(src="../images/img-people1.png")
            //-     .people-info 
            //-         h3.people-name Matthew Dix
            //-         span.people-job.text.text--light Graphic design 
            //-         p.people-desc.text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae eaque quisquam in vero eum corrupti illum debitis esse error delectus at odit odio porro quos, cum inventore maxime architecto ex!
            
            //- li.people-item
            //-     img.people-avatar(src="../images/img-people2.png")
            //-     .people-info 
            //-         h3.people-name Matthew Dix
            //-         span.people-job.text.text--light Graphic design 
            //-         p.people-desc.text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae eaque quisquam in vero eum corrupti illum debitis esse error delectus at odit odio porro quos, cum inventore maxime architecto ex!
            
            //- li.people-item
            //-     img.people-avatar(src="../images/img-people3.png")
            //-     .people-info 
            //-         h3.people-name Matthew Dix
            //-         span.people-job.text.text--light Graphic design 
            //-         p.people-desc.text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae eaque quisquam in vero eum corrupti illum debitis esse error delectus at odit odio porro quos, cum inventore maxime architecto ex!
            
            //- li.people-item
            //-     img.people-avatar(src="../images/img-people4.png")
            //-     .people-info 
            //-         h3.people-name Matthew Dix
            //-         span.people-job.text.text--light Graphic design 
            //-         p.people-desc.text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae eaque quisquam in vero eum corrupti illum debitis esse error delectus at odit odio porro quos, cum inventore maxime architecto ex!
