section.quote
    .container 
        .quote-container
            //- i.fal.fa-angle-left.quote-arrow-left.quote-arrow
            .quote-content
                .quote-icon
                    img(src="../images/img-quote.png")
                .quote-info
                    p.quote-desc Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam tempora quae minus non, unde quaerat, autem natus, odit tempore assumenda corrupti. Tempora dicta exercitationem reiciendis ipsum cum aliquam architecto atque!
                    span.quote-author Jon Doe
            .quote-content
                .quote-icon
                    img(src="../images/img-quote.png")
                .quote-info
                    p.quote-desc Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam tempora quae minus non, unde quaerat, autem natus, odit tempore assumenda corrupti. Tempora dicta exercitationem reiciendis ipsum cum aliquam architecto atque!
                    span.quote-author Jon Doe
            .quote-content
                .quote-icon
                    img(src="../images/img-quote.png")
                .quote-info
                    p.quote-desc Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam tempora quae minus non, unde quaerat, autem natus, odit tempore assumenda corrupti. Tempora dicta exercitationem reiciendis ipsum cum aliquam architecto atque!
                    span.quote-author Jon Doe
            
            //- i.fal.fa-angle-right.quote-arrow-right.quote-arrow
