section.service 
    .container 
        +blockBox("We work it", "Amazing Service")
        .service-container
            .service-list 
                +serviceItem("../images/img-service-icon1.png","Photography","Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, sint! sit amet consectetur adipisicing elit. Excepturi, sint!")
                +serviceItem("../images/img-service-icon2.png","Web design","Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, sint! sit amet consectetur adipisicing elit. Excepturi, sint!")
                +serviceItem("../images/img-service-icon3.png","Creativity","Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, sint! sit amet consectetur adipisicing elit. Excepturi, sint!")
               
            .service-list 
                +serviceItem("../images/img-service-icon4.png","Photography","Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, sint! sit amet consectetur adipisicing elit. Excepturi, sint!")
                +serviceItem("../images/img-service-icon5.png","Photography","Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, sint! sit amet consectetur adipisicing elit. Excepturi, sint!")
                +serviceItem("../images/img-service-icon6.png","Photography","Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, sint! sit amet consectetur adipisicing elit. Excepturi, sint!")
                
                
            
            
            
        
        