section.story
    .container
        +blockBox("Our stories", "Latest blog")
        ul.story-list   
            //- +storyItem("../images/img-blog1.png")
            //- +storyItem("../images/img-blog2.png")    
            //- +storyItem("../images/img-blog3.png")    
            li.story-item
                .story-media
                    img.story-image(src="../images/img-blog1.png")
                    .story-date
                        span.story-date-number 15
                        span.story-date-text.text.text--light Jan
                h3.story-title Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores 
                .story-desc-text
                    p.story-desc-inner Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus doloribus vel id quam eos cum provident, hic itaque excepturi at sit harum ab vol     
                .story-meta 
                    .story-meta-item
                        i.fa.fa-eye.story-meta-icon
                        span.story-meta-number.text 542
                    .story-meta-item
                        i.fa.fa-comment.story-meta-icon
                        span.story-meta-number.text 17
            
            li.story-item
                .story-media
                    img.story-image(src="../images/img-blog2.png")
                    .story-date
                        span.story-date-number 15
                        span.story-date-text.text.text--light Jan
                h3.story-title Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores 
                .story-desc-text
                    p.story-desc-inner Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus doloribus vel id quam eos cum provident, hic itaque excepturi at sit harum ab vol     
                .story-meta 
                    .story-meta-item
                        i.fa.fa-eye.story-meta-icon
                        span.story-meta-number.text 542
                    .story-meta-item
                        i.fa.fa-comment.story-meta-icon
                        span.story-meta-number.text 17
            
            li.story-item
                .story-media
                    img.story-image(src="../images/img-blog3.png")
                    .story-date
                        span.story-date-number 15
                        span.story-date-text.text.text--light Jan
                h3.story-title Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores 
                .story-desc-text
                    p.story-desc-inner Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus doloribus vel id quam eos cum provident, hic itaque excepturi at sit harum ab vol     
                .story-meta 
                    .story-meta-item
                        i.fa.fa-eye.story-meta-icon
                        span.story-meta-number.text 542
                    .story-meta-item
                        i.fa.fa-comment.story-meta-icon
                        span.story-meta-number.text 17

section.map     
    .container
        .map-content 
            img.map-icon(src="../images/img-map-icon.png")
            h2.map-heading Open map