section.team 
    .container 
        +blockBox("Who we are","Meet our team", "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde dicta error facilis dolorem eaque enim aut incidunt illum distinctio, ducimus quasi, nihil impedit aliquam iste voluptatum, non sed architecto similique.")
        .team-list
            +teamItem("../images/img-team1.png","Christopher Cambell","Branding/UX Team")
                +teamSocial("#hoangvu","#hoangvu","#hoangvu","#hoangvu")
            +teamItem("../images/img-team2.png","Christopher Cambell","Branding/UX Team")
                +teamSocial("#hoangvu","#hoangvu","#hoangvu","#hoangvu")
            +teamItem("../images/img-team3.png","Christopher Cambell","Branding/UX Team")
                +teamSocial("#hoangvu","#hoangvu","#hoangvu","#hoangvu")
            //- .team-item
            //-     .team-main 
            //-         img(src="../images/img-team1.png").team-image
            //-         .team-content
            //-             ul.team-social
            //-                 li.team-social-item
            //-                     a.team-social-link(href="#")
            //-                         i.fab.fa-facebook-f
            //-                 li.team-social-item
            //-                     a.team-social-link(href="#")
            //-                         i.fab.fa-twitter
            //-                 li.team-social-item
            //-                     a.team-social-link(href="#")
            //-                         i.fab.fa-pinterest
            //-                 li.team-social-item
            //-                     a.team-social-link(href="#")
            //-                         i.fab.fa-instagram
            //-     .team-info
            //-         h3.team-name Christopher Cambell
            //-         span.team-position Branding/UX Team
                    
            //- .team-item
            //-     .team-main 
            //-         img(src="../images/img-team2.png").team-image
            //-         .team-content
            //-             ul.team-social
            //-                 li.team-social-item
            //-                     a.team-social-link(href="#")
            //-                         i.fab.fa-facebook-f
            //-                 li.team-social-item
            //-                     a.team-social-link(href="#")
            //-                         i.fab.fa-twitter
            //-                 li.team-social-item
            //-                     a.team-social-link(href="#")
            //-                         i.fab.fa-pinterest
            //-                 li.team-social-item
            //-                     a.team-social-link(href="#")
            //-                         i.fab.fa-instagram
            //-     .team-info
            //-         h3.team-name Christopher CambellChristopher CambellChristopher CambellChristopher CambellChristopher CambellChristopher CambellChristopher CambellChristopher Cambell
            //-         span.team-position Branding/UX Team
                    
            //- .team-item
            //-     .team-main 
            //-         img(src="../images/img-team3.png").team-image
            //-         .team-content
            //-             ul.team-social
            //-                 li.team-social-item
            //-                     a.team-social-link(href="#")
            //-                         i.fab.fa-facebook-f
            //-                 li.team-social-item
            //-                     a.team-social-link(href="#")
            //-                         i.fab.fa-twitter
            //-                 li.team-social-item
            //-                     a.team-social-link(href="#")
            //-                         i.fab.fa-pinterest
            //-                 li.team-social-item
            //-                     a.team-social-link(href="#")
            //-                         i.fab.fa-instagram
            //-     .team-info
            //-         h3.team-name Christopher Cambell
            //-         span.team-position Branding/UX Team

//- logo thuong hieu
section.brand
    .container 
        img(src="../images/img-logos.png" alt="brands")

            
        

                    