section.work 
    .container 
        +blockBox("What we do","Some of our work","Lorem ipsum dolor sit amet consectetur adipisicing elit. Non qui ipsa, aliquid, necessitatibus perspiciatis ratione officiis in quam culpa aut neque, officia ex eaque vero laboriosam quae ea porro! Reprehenderit.") 
        .work-grid
            +workItem("../images/img-work1.png","fa fa-home","Cretively Designed")
            +workItem("../images/img-work2.png","fa fa-home","Cretively Designed")
            +workItem("../images/img-work3.png","fa fa-home","Cretively Designed")
            +workItem("../images/img-work4.png","fa fa-home","Cretively Designed")
            +workItem("../images/img-work5.png","fa fa-home","Cretively Designed")
            +workItem("../images/img-work6.png","fa fa-home","Cretively Designed")
            +workItem("../images/img-work7.png","fa fa-home","Cretively Designed")

        //- .work-list
            //- .work-column
            //-     +workItem("../images/img-work1.png","fa fa-home","Cretively Designed")
            //-     +workItem("../images/img-work2.png","fa fa-heart","Cretively Designed")
            //- .work-column
            //-     +workItem("../images/img-work3.png","fa fa-heart","Cretively Designed")
            //-     +workItem("../images/img-work4.png","fa fa-home","Cretively Designed")
            //- .work-column
            //-         +workItem("../images/img-work5.png","fa fa-home","Cretively Designed","work-item--full")
            //- .work-column
            //-     +workItem("../images/img-work6.png","fa fa-cog","Cretively Designed")
            //-     +workItem("../images/img-work7.png","fa fa-home","Cretively Designed")
            

            
            //-     .work-item
            //-         img.work-image(src="../images/img-work1.png")
            //-         .work-content
            //-             i.fa.fa-home.work-icon
            //-             h3.work-title Cretively desinged
            //-             span.work-desc.text.text--light Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            //-     .work-item
            //-             img.work-image(src="../images/img-work2.png")
            //-             .work-content
            //-                 i.fa.fa-home.work-icon
            //-                 h3.work-title Cretively desinged
            //-                 span.work-desc.text.text--light Lorem ipsum dolor sit amet consectetur adipisicing elit.
            //- .work-column
            //-     .work-item
            //-         img.work-image(src="../images/img-work3.png")
            //-         .work-content
            //-             i.fa.fa-home.work-icon
            //-             h3.work-title Cretively desinged
            //-             span.work-desc.text.text--light Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            //-     .work-item
            //-             img.work-image(src="../images/img-work4.png")
            //-             .work-content
            //-                 i.fa.fa-home.work-icon
            //-                 h3.work-title Cretively desinged
            //-                 span.work-desc.text.text--light Lorem ipsum dolor sit amet consectetur adipisicing elit.
            //- .work-column
            //-     .work-item.work-item--full
            //-             img.work-image(src="../images/img-work5.png")
            //-             .work-content
            //-                 i.fa.fa-home.work-icon
            //-                 h3.work-title Cretively desinged
            //-                 span.work-desc.text.text--light Lorem ipsum dolor sit amet consectetur adipisicing elit.

            //- .work-column
            //-     .work-item
            //-         img.work-image(src="../images/img-work6.png")
            //-         .work-content
            //-             i.fa.fa-home.work-icon
            //-             h3.work-title Cretively desinged
            //-             span.work-desc.text.text--light Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            //-     .work-item
            //-             img.work-image(src="../images/img-work7.png")
            //-             .work-content
            //-                 i.fa.fa-home.work-icon
            //-                 h3.work-title Cretively desinged
            //-                 span.work-desc.text.text--light Lorem ipsum dolor sit amet consectetur adipisicing elit.
